.direnv
out
__pycache__
image/*.pdf
image/*.svg
image/*.png
snippets/*.pdf
tables/*.tex
tables/*.html
Tmp
!image/ucas_logo.pdf
plot/*.pdf
plot/*.png
plot/*.svg
!plot/ucacheline_nums1.pdf
!plot/ucacheline_nums2.pdf
晏悦*.pdf
*.html